<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Conn" connectionString="Data Source=.;Initial Catalog=AdventureWorksLT2019;Persist Security Info=True;User ID=CentraliaUser2021;Password=IT410User2021; pooling = true; Min Pool Size = 5"
   providerName="System.Data.SqlClient" />
  <add name="GentryCRUDexample.Properties.Settings.AdventureWorksLT2019ConnectionString"
   connectionString="Data Source=DESKTOP-019303U;Initial Catalog=AdventureWorksLT2019;User ID=CentraliaUser2021;Password=IT410User2021"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="Conn" value="data source=.;database=AdventureWorksLT2019;UID=CentraliaUser2021;PWD=IT410User2021;pooling=true;Max Pool Size=100;min pool size=5;"/>
	</appSettings>
</configuration>